<div class="main-container">
  <h1>Welcome to Yelp !</h1>

  <h3>⬇️ Here is the list of the restaurants ⬇️</h3>

  <div class="restaurants"><% @restaurants.each do |r| %>
    <p class="restaurant">
      <%= link_to "#{r.name}", restaurant_path(r) %>
      </p>
    <% end %>
  </div>

  <p><%= link_to "➕ CREATE A NEW RESTAURANT", new_restaurant_path %></p>
</div>
